<div class="ngx-toolbar" *ngIf="config['showToolbar']">
  <div class="ngx-toolbar-set" *ngFor="let toolbar of config['toolbar']">

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('bold', toolbar)" (click)="triggerCommand('bold')"
      title="Bold" [disabled]="!config['enableToolbar']">
      <i class="fa fa-bold" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('italic', toolbar)" (click)="triggerCommand('italic')"
      title="Italic" [disabled]="!config['enableToolbar']">
      <i class="fa fa-italic" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('underline', toolbar)" (click)="triggerCommand('underline')"
      title="Underline" [disabled]="!config['enableToolbar']">
      <i class="fa fa-underline" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('strikeThrough', toolbar)" (click)="triggerCommand('strikeThrough')"
      title="Strikethrough" [disabled]="!config['enableToolbar']">
      <i class="fa fa-strikethrough" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('superscript', toolbar)" (click)="triggerCommand('superscript')"
      title="Superscript" [disabled]="!config['enableToolbar']">
      <i class="fa fa-superscript" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('subscript', toolbar)" (click)="triggerCommand('subscript')"
      title="Subscript" [disabled]="!config['enableToolbar']">
      <i class="fa fa-subscript" aria-hidden="true"></i>
    </button>

    <div class="ngx-editor-button btn-group" *ngIf="canEnableToolbarOptions('fontName', toolbar)" triggers="onclick"
         #dropdownFontName="bs-dropdown" dropdown>

      <i class="fa fa-font" aria-hidden="true"></i>

      <button #buttonBasicFontName [disabled]="!config['enableToolbar']" dropdownToggle
            type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdownBasicFontName">
      {{ fontName }}
    </button>

      <ul #dropdownBasicFontName *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="buttonBasicFontName"
          (mouseleave)="dropdownFontName.hide()">
        <li role="menuitem" *ngFor="let font of config['fontNameList']">
          <a class="dropdown-item" (click)="setFontName(font); fontName=font;">
            <span [ngStyle]="{'font-family': font }">{{ font }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="ngx-editor-button btn-group" *ngIf="canEnableToolbarOptions('fontSize', toolbar)" triggers="onclick"
         #dropdownFontSize="bs-dropdown" dropdown>

      <i class="fa fa-font" aria-hidden="true"></i>

      <button #buttonBasicFontSize [disabled]="!config['enableToolbar']" dropdownToggle
              type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdownBasicFontSize">
        {{ fontSize }}
      </button>

      <ul #dropdownBasicFontSize *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="buttonBasicFontSize"
          (mouseleave)="dropdownFontSize.hide()">
        <li role="menuitem" *ngFor="let font of fontSizeList">
          <a class="dropdown-item" (click)="setFontSize(font[0]); fontSize=font[1];" [style]="'font-size:' + font[0]">
            <font [size]="font[0]">{{ font[1] }}</font>
          </a>
        </li>
      </ul>
    </div>

    <button #ignoredButton type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('color', toolbar)" title="Color Picker"
            [disabled]="!config['enableToolbar']"
            [cpIgnoredElements]="[ignoredButton]"
            [(cpToggle)]="colorToggle"
            [(colorPicker)]="hexColor"
            [cpOKButton]="true"
            [cpCancelButton]="true"
            (colorPickerSelect)="insertColor(hexColor, 'textColor');"
            (click)="colorToggle=!colorToggle; hexColor = '';"
            >
      <i class="fa fa-tint" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('insertDate', toolbar)" (click)="insertDateTime(true)"
            title="Insert date" [disabled]="!config['enableToolbar']">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('insertDateTime', toolbar)" (click)="insertDateTime()"
            title="Insert date and time" [disabled]="!config['enableToolbar']">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('justifyLeft', toolbar)" (click)="triggerCommand('justifyLeft')"
      title="Justify Left" [disabled]="!config['enableToolbar']">
      <i class="fa fa-align-left" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('justifyCenter', toolbar)" (click)="triggerCommand('justifyCenter')"
      title="Justify Center" [disabled]="!config['enableToolbar']">
      <i class="fa fa-align-center" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('justifyRight', toolbar)" (click)="triggerCommand('justifyRight')"
      title="Justify Right" [disabled]="!config['enableToolbar']">
      <i class="fa fa-align-right" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('justifyFull', toolbar)" (click)="triggerCommand('justifyFull')"
      title="Justify" [disabled]="!config['enableToolbar']">
      <i class="fa fa-align-justify" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('indent', toolbar)" (click)="triggerCommand('indent')"
      title="Indent" [disabled]="!config['enableToolbar']">
      <i class="fa fa-indent" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('outdent', toolbar)" (click)="triggerCommand('outdent')"
      title="Outdent" [disabled]="!config['enableToolbar']">
      <i class="fa fa-outdent" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('cut', toolbar)" (click)="triggerCommand('cut')" title="Cut"
      [disabled]="!config['enableToolbar']">
      <i class="fa fa-scissors" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('copy', toolbar)" (click)="triggerCommand('copy')"
      title="Copy" [disabled]="!config['enableToolbar']">
      <i class="fa fa-files-o" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('delete', toolbar)" (click)="triggerCommand('delete')"
      title="Delete" [disabled]="!config['enableToolbar']">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('removeFormat', toolbar)" (click)="triggerCommand('removeFormat')"
      title="Clear Formatting" [disabled]="!config['enableToolbar']">
      <i class="fa fa-eraser" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('undo', toolbar)" (click)="triggerCommand('undo')"
      title="Undo" [disabled]="!config['enableToolbar']">
      <i class="fa fa-undo" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('redo', toolbar)" (click)="triggerCommand('redo')"
      title="Redo" [disabled]="!config['enableToolbar']">
      <i class="fa fa-repeat" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('paragraph', toolbar)" (click)="triggerCommand('insertParagraph')"
      title="Paragraph" [disabled]="!config['enableToolbar']">
      <i class="fa fa-paragraph" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('blockquote', toolbar)" (click)="triggerCommand('blockquote')"
      title="Blockquote" [disabled]="!config['enableToolbar']">
      <i class="fa fa-quote-left" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('removeBlockquote', toolbar)" (click)="triggerCommand('removeBlockquote')"
      title="Remove Blockquote" [disabled]="!config['enableToolbar']">
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('horizontalLine', toolbar)" (click)="triggerCommand('insertHorizontalRule')"
      title="Horizontal Line" [disabled]="!config['enableToolbar']">
      <i class="fa fa-minus" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('unorderedList', toolbar)" (click)="triggerCommand('insertUnorderedList')"
      title="Unordered List" [disabled]="!config['enableToolbar']">
      <i class="fa fa-list-ul" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('orderedList', toolbar)" (click)="triggerCommand('insertOrderedList')"
      title="Ordered List" [disabled]="!config['enableToolbar']">
      <i class="fa fa-list-ol" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('link', toolbar)" (click)="buildUrlForm()" [popover]="insertLinkTemplate"
      title="Insert Link" #urlPopover="bs-popover" containerClass="ngxePopover" [disabled]="!config['enableToolbar']">
      <i class="fa fa-link" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('unlink', toolbar)" (click)="triggerCommand('unlink')"
      title="Unlink" [disabled]="!config['enableToolbar']">
      <i class="fa fa-unlink" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('image', toolbar)" (click)="buildImageForm()" title="Insert Image"
      [popover]="insertImageTemplate" #imagePopover="bs-popover" containerClass="ngxePopover" [disabled]="!config['enableToolbar']">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
    </button>

    <button type="button" class="ngx-editor-button" *ngIf="canEnableToolbarOptions('video', toolbar)" (click)="buildVideoForm()" title="Insert Video"
      [popover]="insertVideoTemplate" #videoPopover="bs-popover" containerClass="ngxePopover" [disabled]="!config['enableToolbar']">
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </button>
  </div>
</div>

<!-- URL Popover template -->
<ng-template #insertLinkTemplate>
  <div class="ngxe-popover extra-gt">
    <form [formGroup]="urlForm" (ngSubmit)="urlForm.valid && insertLink()" autocomplete="off">

      <div class="form-group">
        <label for="urlInput" class="small">URL</label>
        <input type="text" class="form-control-sm" id="URLInput" placeholder="URL" formControlName="urlLink" required>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="urlNewTab" formControlName="urlNewTab">
        <label class="form-check-label" for="urlNewTab">Open in new tab</label>
      </div>

      <button type="submit" class="btn-primary btn-sm btn">Submit</button>
    </form>
  </div>
</ng-template>

<!-- Image Uploader Popover template -->
<ng-template #insertImageTemplate>
  <div class="ngxe-popover imgc-ctnr">
    <div class="imgc-topbar btn-ctnr">
      <button type="button" class="btn" [ngClass]="{active: isImageUploader}" (click)="isImageUploader = true">
        <i class="fa fa-upload"></i>
      </button>
      <button type="button" class="btn" [ngClass]="{active: !isImageUploader}" (click)="isImageUploader = false">
        <i class="fa fa-link"></i>
      </button>
    </div>
    <div class="imgc-ctnt is-image">
      <div *ngIf="isImageUploader; else insertImageLink"> </div>
      <div *ngIf="!isImageUploader; else imageUploder"> </div>
      <ng-template #imageUploder>
        <div class="ngx-insert-img-ph">
          <p *ngIf="uploadComplete">Choose Image</p>
          <p *ngIf="!uploadComplete">
            <span>Uploading Image</span>
            <br>
            <span>{{ updloadPercentage }} %</span>
          </p>
          <div class="ngxe-img-upl-frm">
            <input type="file" (change)="onFileChange($event)" accept="image/*" [disabled]="isUploading" [style.cursor]="isUploading ? 'not-allowed': 'allowed'">
          </div>
        </div>
      </ng-template>
      <ng-template #insertImageLink>
        <form class="extra-gt" [formGroup]="imageForm" (ngSubmit)="imageForm.valid && insertImage()" autocomplete="off">
          <div class="form-group">
            <label for="imageURLInput" class="small">URL</label>
            <input type="text" class="form-control-sm" id="imageURLInput" placeholder="URL" formControlName="imageUrl" required>
          </div>
          <button type="submit" class="btn-primary btn-sm btn">Submit</button>
        </form>
      </ng-template>
      <div class="progress" *ngIf="!uploadComplete">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" [ngClass]="{'bg-danger': updloadPercentage<20, 'bg-warning': updloadPercentage<50, 'bg-success': updloadPercentage>=100}"
          [style.width.%]="updloadPercentage"></div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Insert Video Popover template -->
<ng-template #insertVideoTemplate>
  <div class="ngxe-popover imgc-ctnr">
    <div class="imgc-topbar btn-ctnr">
      <button type="button" class="btn active">
        <i class="fa fa-link"></i>
      </button>
    </div>
    <div class="imgc-ctnt is-image">
      <form class="extra-gt" [formGroup]="videoForm" (ngSubmit)="videoForm.valid && insertVideo()" autocomplete="off">
        <div class="form-group">
          <label for="videoURLInput" class="small">URL</label>
          <input type="text" class="form-control-sm" id="videoURLInput" placeholder="URL" formControlName="videoUrl" required>
        </div>
        <div class="row form-group">
          <div class="col">
            <input type="text" class="form-control-sm" formControlName="height" placeholder="height (px)" (keypress)="onlyNumbers($event)">
          </div>
          <div class="col">
            <input type="text" class="form-control-sm" formControlName="width" placeholder="width (px)" (keypress)="onlyNumbers($event)">
          </div>
          <label class="small">Height/Width</label>
        </div>
        <button type="submit" class="btn-primary btn-sm btn">Submit</button>
      </form>
    </div>
  </div>
</ng-template>
